In [1]:
for i in range(1,11):
    print(i,end="")

12345678910

In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv('Crop_recommendation.csv')

In [4]:
dataset

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [5]:
dataset.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [6]:
dataset.tail()

        N   P   K  temperature   humidity        ph    rainfall   label
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [8]:
x=dataset.iloc[:,[0,1,2,3,4,5,6]].values

In [9]:
x[0]

array([ 90.        ,  42.        ,  43.        ,  20.87974371,
        82.00274423,   6.50298529, 202.9355362 ])

In [10]:
y=dataset.iloc[:,[7]].values

In [11]:
y[0]

array(['rice'], dtype=object)

In [12]:
print(len(x),len(y))

2200 2200

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=100)

In [15]:
#ML (Algorithm) we are going to use is KNN
from sklearn.neighbors import KNeighborsClassifier

In [16]:
model=KNeighborsClassifier()
# this line creates an object of the class KNN

In [17]:
#let us traing the model using training data
import numpy as np
ytrain=np.ravel(ytrain)
model.fit(xtrain,ytrain)

KNeighborsClassifier()

In [18]:
#let us test our model
testdata=np.array([[69,55,38,22.70883798,82.63941394,5.70080568,271.3248604]])
result=model.predict(testdata)
print(f"Resultof prediction ={result[0]}")

Resultof prediction =rice

In [19]:
ypred=model.predict(xtest)

In [20]:
from sklearn.metrics import accuracy_score
accu=accuracy_score(ypred,ytest)
print(f"accuracy of the model = {accu*100}")

accuracy of the model = 97.72727272727273

In [21]:
import joblib

In [22]:
#let us export our model
joblib.dump(model,"myKnnmodel.pkl")

['myKnnmodel.pkl']